asgiref==3.8.1
bcrypt==3.2.0
certifi==2020.6.20
cffi==2.0.0
chardet==4.0.0
charset-normalizer==3.4.4
cryptography==3.4.8
Django==5.1.1
django-cors-headers==4.4.0
django-environ==0.12.0
django-jazzmin==3.0.1
djangorestframework==3.15.2
EditorConfig==0.17.1
Faker==37.3.0
idna==2.10
jsbeautifier==1.15.4
json5==0.12.0
msal==1.31.1
Pillow==9.0.1
psycopg==3.2.9
psycopg-binary==3.2.9
pycparser==2.23
pyotp==2.9.0
python-dateutil==2.8.1
python-dotenv==1.0.1
pytz==2022.1
PyYAML==6.0.2
qrcode==8.2
reportlab==4.4.4
requests==2.25.1
setuptools==80.9.0
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.12.2
tzdata==2025.2
urllib3==1.26.20
wheel==0.45.1
