{% extends 'base.html' %}
{% block content %}
    <div class="col-md-6 offset-md-3">
        <h2 class="mb-4">Update Project</h2>
        <form method="post" novalidate>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Update</button>
            <a href="{% url 'pm_record' project.pk %}"
               class="btn btn-secondary ms-2">Cancel</a>
        </form>
        {% comment %} Search on Dropdown {% endcomment %}
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
  $(document).ready(function() {
    $('#id_customer_name').select2({
      placeholder: 'Select Client',
      allowClear: true
    });

    $('#id_engineer').select2({
      placeholder: 'Select Engineer',
      allowClear: true
    });
  });
        </script>
    </div>
{% endblock %}
