{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="col-md-6 offset-md-3 text-center">
        <div class="mb-4">
            <img src="{% static 'images/logo.png' %}"
                 alt="Logo"
                 width="120"
                 height="120">
        </div>
        <h3>Set New Password</h3>
        <form method="POST">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="mb-3">
                {{ form.new_password1.label_tag }}
                {{ form.new_password1 }}
                {{ form.new_password1.errors }}
            </div>
            <div class="mb-3">
                {{ form.new_password2.label_tag }}
                {{ form.new_password2 }}
                {{ form.new_password2.errors }}
            </div>
            <button type="submit" class="btn btn-outline-success rounded-pill">Set Password</button>
        </form>
    </div>
{% endblock %}
