{% extends 'base.html' %}
{% load static %}
{% load tz %}
{% block body_class %}home-bg{% endblock %}
{% block content %}
    <div class="page-wrapper">
        <div class="homepage-container text-center">
            <img src="{% static 'images/logo.png' %}" alt="Logo" class="logo mb-4">
            <h1>Angani Client Manager</h1>
            <p class="subtitle">Secure and simple client data management</p>
            <a href="{% url 'access_center' %}" class="btn-proceed mt-3">Proceed</a>
        </div>
    </div>
{% endblock %}
