body {
    background-color:#F4F6F8;
    }

.alert {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1050;
  min-width: 250px;
  transition: opacity 0.5s ease;
}

.alert.hide {
  opacity: 0;
}


tr[data-href]:hover {
  background-color: #eef5ff;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
}
